#header{

    background: rgb(121, 184, 121);
    
    .icon{
        margin-top: 9px;
        margin-left: 35vh;

        i{

            margin: 10px;
        
    }
}
    .box{
        margin: 10px;

        p{
            margin-left: 30px;
        }
    }
}
#header2{
    .button{
        button{
            height: 50px;
            wi
        }
        margin-left: 38vh;
        margin-top: 60px;
    }
    .menu{
        .menu2{
            margin-top: 65px;
            margin-left: 23vh;
            li{
                margin-left: 30px;
            }
        }
    }
    .logo{
        margin-top: 40px;
        img{
            height: 70px;
        }
    }
}